doctype html
html
  head
    meta(charset='utf-8')
    title Missile game
    script(src='/public/src/gown/docs/lib/pixi/pixi.js')
    script(src='/public/src/tink.js')
    script(src='/public/src/gown/docs/dist/gown.js')
  body
    script(src='/public/src/game.js')
    #content
